.aboutcontainer {
    background-color: white;
}

.atitle {
    background-color: rgb(58, 190, 252);
    text-align: center;
    font-size: 30px;
    padding-top: 45px;
    width: 100%;
    color: white;
    -webkit-user-select: none;      
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.atitle h1 {
    font-weight: 400;
}

.atitle h4 {
    color: white;
    transition: 0.5s;
    padding-bottom: 50px;
}

.atitle h4:hover {
    color: rgb(12, 63, 113);
}

.whiteblockright {
    background-color: white;
    width: 100%;
    display: flex;
}

.wleft {
    padding: 50px;
    display: flex;
    flex-direction: column;
}

.wright img {
    min-width: 300px;
    max-width: 500px;
    padding-bottom: 50px;
    -webkit-user-drag: none;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

.postersection {
    width: 100%;
    background-color: rgb(58, 190, 252);
    display: flex;
    justify-content: space-around;
    padding-top: 50px;
    padding-bottom: 50px;
    text-align: center;
    color: white;
}

.postersection h2 {
    font-size: 36px;
    margin-bottom: 70px;
    -webkit-user-drag: none;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

.postersection a {
    color: rgb(12, 63, 113);
}

.blueblockleft {
    background-color: white;
    width: 100%;
    display: flex;
}

.bright {
    padding: 50px;
    display: flex;
    flex-direction: column;
}

.bleft img {
    min-width: 300px;
    max-width: 500px;
    padding-left: 50px;
    padding-bottom: 50px;
    -webkit-user-drag: none;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

.blenderblock {
    display: flex;
    background-color: rgb(58, 190, 252);
    color: white;
}

.blenderblock a {
    color: rgb(12, 63, 113);
}

.blenderblockleft {
    width: 50%;
    padding: 50px;
    padding-left: 100px;
}

.blenderblockright {
    width: 50%;
    padding: 50px;
}

.blenderblockrightup {
    display: flex;
    justify-content: center;
    width: 100%;
}

.blenderblocktheater {
    width: 500px;
    height: 300px;
}

.blenderblockrightdown {
    margin-top: 0px;
    display: flex;
    justify-content: space-evenly;
}

.blenderblocktheater img {
    max-width: 500px;
    border-radius: 25px;
}

.arrowleft {
    width: 0;
    height: 0;
    border-top: 25px solid transparent;
    border-right: 50px solid rgb(12, 63, 113);
    border-bottom: 25px solid transparent;
    transition: 0.5s;
}

.arrowright {
    width: 0;
    height: 0;
    border-top: 25px solid transparent;
    border-left: 50px solid rgb(12, 63, 113);
    border-bottom: 25px solid transparent;
    transition: 0.5s;
}

.arrowleft:hover {
    border-right: 50px solid rgb(22, 94, 165);
}

.arrowright:hover {
    border-left: 50px solid rgb(22, 94, 165);
}

.alogo {
    background-color: white;
    width: 100%;
    height: 250px;
}

.supporttitle {
    width: 100%;
    text-align: center;
    font-size: 18px;
    margin-top: 70px;
    margin-bottom: 30px;
}

.supportlogos {
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.supportlogos img {
    min-width: 120px;
    max-width: 200px;
    padding-top: 20px;
    padding-bottom: 10px;
    -webkit-user-drag: none;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

@media only screen and (max-width: 1023px) {

    .whiteblockright {
        background-color: white;
        width: 100%;
        display: flex;
    }

    .wright img {
        min-width: 200px;
        max-width: 500px;
        padding-bottom: 50px;
        -webkit-user-drag: none;
        user-select: none;
        -moz-user-select: none;
        -webkit-user-select: none;
        -ms-user-select: none;
    }

    .whiteblockright {
        background-color: white;
        width: 100%;
        display: flex;
        flex-direction: column;
    }

    .blueblockleft {
        background-color: white;
        width: 100%;
        display: flex;
        flex-direction: column;
    }
    
    .bright {
        padding: 50px;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
    }
    
    .bleft img {
        min-width: 300px;
        max-width: 500px;
        -webkit-user-drag: none;
        user-select: none;
        -moz-user-select: none;
        -webkit-user-select: none;
        -ms-user-select: none;
    }

    .blenderblock {
        display: flex;
        background-color: rgb(58, 190, 252);
        color: white;
        flex-direction: column;
    }

    .blenderblockleft {
        width: 85%;
        padding: 50px;
    }
    
    .blenderblockright {
        width: 85%;
        padding: 50px;
    }

    .blenderblocktheater img {
        min-width: 250;
        max-width: 450px;
        border-radius: 25px;
    }

}
