.container {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 55% 45%;
    grid-template-rows: auto;
    grid-template-areas: 
        "vtop vtop"
        "bleft bright";
    user-select: none;
}

.top {
    grid-area: vtop;
    width: 100%;
    height: 75px;
    columns: 1;
    display: flex;
    justify-content: space-around;
}

.top img {
    height: 50px;
    padding: 10px;
}

.top p {
    margin: 0;
}

.hleft {
    grid-area: bleft;
    width: 100%;
    min-height: 100%;
    display: flex;
    justify-content: right;
}

.hleft img {
    min-width: 300px;
    max-width: 500px;
    padding-right: 100px;
    padding-top: 50px;
    -webkit-user-drag: none;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

.hright {
    grid-area: bright;
    width: 100%;
    min-height: 100%;
    color: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: left;
}

.hright h1 {
    font-size: 72px;
    font-weight: 400;
}

.enterButton {
    width: 300px;
    height: 85px;
    text-align: center;
    display: flex;
    justify-content: center;
    color: white;
}

@media only screen and (max-width: 1000px) {
    .container {
        width: 100%;
        height: 100%;
        display: grid;
        grid-template-columns: 55% 45%;
        grid-template-rows: auto;
        grid-template-areas: 
            "vtop vtop"
            "bleft bleft"
            "bright bright";
        user-select: none;
    }

    .top {
        grid-area: vtop;
        width: 100%;
        height: 400px;
        columns: 1;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        padding: 25px;
    }

    .hleft {
        grid-area: bleft;
        width: 100%;
        min-height: 50%;
        display: flex;
        justify-content: center;
    }
    
    .hleft img {
        min-width: 100%;
        max-width: 500px;
        padding-top: 0px;
        padding-left: 125px;
        -webkit-user-drag: none;
        user-select: none;
        -moz-user-select: none;
        -webkit-user-select: none;
        -ms-user-select: none;
    }

    .hright {
        grid-area: bright;
        width: 100%;
        min-height: 100%;
        color: black;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        text-align: center;
    }

    .hright h1 {
        font-size: 55px;
        margin-left: 25px;
    }

    .enterButton {
        margin-left: auto;
        margin-right: auto;
        margin-top: 30px;
        margin-bottom: 100px;
        text-align: center;
        display: flex;
        justify-content: center;
    }

}