.greencomment {
    margin-top: 0px;
    color: rgb(94, 150, 94);
}

.yellowcode {
    margin-top: 0px;
    color: rgb(210, 210, 43);
}

.whitecode {
    margin-top: 0px;
    color: white;
}

.purplecode {
    margin-top: 0px;
    color: rgb(220, 110, 225);
}

.orangecode {
    margin-top: 0px;
    color: rgb(185, 116, 56);
}

.darkbluecode {
    margin-top: 0px;
    color: rgb(33, 118, 255);
}

.lightbluecode {
    margin-top: 0px;
    color: rgb(146, 206, 252);
}
