.modelcardcontainer {
    width: 150px;
    text-align: center;
    border: solid;
    height: 98%;
    background-color: rgb(58, 190, 252);
}

.modelcardcontainer p {
    margin: 0px;
    margin-top: 9px;
}